# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
myenv/

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
myenv/

# media files
media/

myenv/
